<main class="main">
  <div class="content">

    <div class="top-section">
      <div class="first-container">
        <div class="search-city">
          <fa-icon [icon]="icons.faSearch" class="search-icon"></fa-icon>
          <input type="text" class="city-input" placeholder="Search city..." [(ngModel)]="citySearch" (keyup.enter)="searchCity()" />
        </div>
        <div class="temperature-container">
          <div class="temp-toggle-bg" [ngClass]="{'move-to-celsius': activeUnit === 'celsius'}"></div>
          <span class="temp-unit" [ngClass]="{'active-unit': activeUnit === 'fahrenheit'}" (click)="toggleUnit('fahrenheit')">°F</span>
          <span class="temp-unit" [ngClass]="{'active-unit': activeUnit === 'celsius'}" (click)="toggleUnit('celsius')">°C</span>
        </div>
      </div>
    </div>

    <div class="main-weather-and-hourly-forecast">
      <div class="second-container">
        <div class="current-weather-main-info">
          <p class="temperature">{{ weatherData.temperature }}°</p>
          <img [src]="weatherData.imagePath" alt="{{ weatherData.weatherDescription }}" class="weatherData-icon">
          <div class="city-time-info">
            <h1 class="city-name">{{ weatherData.cityName }}</h1>
            <h2 class="hours-now">{{ weatherData.hoursnow }}</h2>
          </div>
        </div>
        
        <div class="current-weather-details">
          <div class="detail-item">
            <fa-icon [icon]="icons.faWind" class="wind-icon"></fa-icon>
            <span class="detail-text">{{ weatherData.wind }}</span>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="icons.faThermometerHalf" class="FL-icon"></fa-icon>
            <span class="detail-text">Feel like: {{ weatherData.FL }}</span>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="icons.faTemperatureLow" class="rangetemp-icon"></fa-icon>
            <span class="detail-text">{{ weatherData.rangeTemp }}</span>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="icons.faTint" class="humidity-icon"></fa-icon>
            <span class="detail-text">{{ weatherData.humidity }}</span>
          </div>
        </div>
      </div>

      <div class="hourly-forecast-container">
        <div class="hourly-forecast-item" *ngFor="let forecast of hourlyForecasts">
          <span class="forecast-time">{{ forecast.time }}</span>
          <div class="line-block"></div>
          <div class="forecast-icon">
            <img [src]="forecast.imagePath" alt="{{ forecast.description }}" class="forecast-svg-icon">
          </div>
          <span class="forecast-description">{{ forecast.description }}</span>
          <span class="forecast-temp">{{ forecast.temperature }}{{ forecast.unit }}</span>
        </div>
      </div>
    </div>
  <div class="bottom-section">
    <div class="otherCities">
      <div class="otherCities-title">
        <h2>Other large cities</h2>
      </div>
      <div class="otherCities-container">
        <div class="otherCity-item" *ngFor="let city of otherCities">
          <div class="otherCity-info">
          <span class="otherCity-region">{{ city.region }}</span>
          <span class="otherCity-name">{{ city.name }}</span>
          <span class="otherCity-desc">{{ city.description }}</span>
          </div>
          <div class="city-weather-summary">
            <img [src]="city.imagePath" alt="{{ city.description }}" class="city-icon">
            <span class="city-temp">{{ city.temperature }}°</span>
          </div>
        </div>
      </div>
    </div>

    <div class="five-day-forecast-container">
      <div class="five-day-forecast-header">
        <h3>5-day forecast</h3>
      </div>
      <div class="five-day-forecast-items">
        <div class="five-day-forecast-item" *ngFor="let dayForecast of fiveDayForecasts">
          <span class="day-name">{{ dayForecast.day }}</span>
          <img [src]="dayForecast.imagePath" alt="{{ dayForecast.description }}" class="five-day-icon">
          <span class="day-description">{{ dayForecast.description }}</span>
          <span class="day-temp">{{ dayForecast.temperature }}°</span>
          <div class="temp-bar-container">
            <div class="temp-bar" [style.width]="dayForecast.barWidth"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>